{% extends 'base.html'%}
<!-- Styles block -->
<!-- Content block -->
{% block content %}
<section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>Recipe Book</h1>
          <h2>Make your cooking stand out with our<br>
             unlimited supply of recipes</h2>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
{% endblock %}